:root {
  --primary-color: rgb(245, 245, 245);
  --accent-color: #580101;
  --navbar-color: rgba(245, 245, 245, 0.7);
  --letters-color: #131313;
  --font-display: 'Bodoni Moda', serif;
  --font-content: 'QuickSand', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red !important; */

}

/* Importante para no generar scroll horizontal inncesario. Al no aplicar la regla en *, 
no afecta a contenedores con scroll horizontal legítimo (ej.: carrusel) */
html,
body {
  overflow-x: hidden;
}

html {
  font-family: var(--font-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

body {
  background: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 2rem 4rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}



/* HEADER: LOGO Y LINKS DE NAVEGACIÓN -----------------------------*/
.navbar {
  position: fixed;
  top: 0;
  background-color: var(--navbar-color);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  width: 100%;
  max-height: 4.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.navbar img {
  height: 2.8rem;
}

.menu-toggle {
  display: none; 
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0.4rem;
  color: var(--letters-color);          
  font-size: 1.4rem;         
}

.menu-toggle:hover {
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.9rem;
  border-radius: 999px;
  background: transparent;
  color: var(--accent-color);
  overflow: hidden;
}

/* HERO: MARCA Y GRADIENTE DE FONDO --------------------------------- */
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem;
  padding-top: 7rem;
  justify-content: flex-end;
  background-image: url("./img/campo.jpg");
  background-size: cover;
}

.logo-container {
  padding: 5rem;
  backdrop-filter: blur(6px);
  width: 45%;
}

.hero h2 {
  color: var(--primary-color);
  opacity: 0;
  transform: translateY(30px);
  margin-top: auto;
  align-self: start;
  padding: 3rem 0 1rem 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;

}


/*  RESPONSIVE -------------------- */

/* Puntos de ruptura para responsive
        Teléfonos pequeños: 320px;
        Mayoría de teléfonos: 480px;
        Tablet: 768px; 
*/

/* TABLET */
@media (max-width: 768px) {
  .logo-container {
    padding: 5rem;
    width: 75%;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  main {
    gap: 5rem;
  }
}


/* MAYORÍA DE TELÉFONOS */
@media (max-width: 480px) {
/* Barra de navegación ---------------------------*/
  .navbar {
    position: relative;
  }
  .navbar img {
    height: 2.2rem;
  }

  .nav-links {
    display: none;
    gap: 0.5rem;
    flex-direction: column;
    background: var(--navbar-color);
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    text-align: start;
    padding: 0.5rem 0; 
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  /* Hero ------------------------------------*/
 .hero {
  padding-top: 2rem;
 }
  
  .logo-container {
    padding: 2.5rem;
    width: 100%;
  }

  .hero h2 {
    font-size: 1.5rem;
    hyphens: auto;
    padding: 3rem 0 0 0;
  }

}