:root {
  --primary-color: rgb(245, 245, 245);
  --navbar-color: rgba(245, 245, 245, 0.8);
  --letters-color: #131313;
  --font-display: 'Lekton', monospace;
  --font-content: 'Roboto Flex', sans-serif;
  --font-section: 'Rampart One', monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red !important; */
}



/* Importante para no generar scroll horizontal inncesario. Al no aplicar la regla en *, 
no afecta a contenedores con scroll horizontal legítimo (ej.: carrusel) */
html,
body {
  overflow-x: hidden;
}

html {
  font-family: var(--font-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

body {
  background: var(--primary-color);
  color: var(--letters-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h2 {
  line-height: 1.8rem;
}

/* HEADER: LOGO Y LINKS DE NAVEGACIÓN -----------------------------*/
.navbar {
  position: fixed;
  top: 0;
  background-color: var(--navbar-color);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  width: 100%;
  max-height: 4.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.navbar img {
  height: 2.8rem;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0.4rem;
  color: var(--letters-color);
  font-size: 1.4rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  background: transparent;
  color: var(--accent-color);
  overflow: hidden;
}

/* HERO: MARCA Y GRADIENTE DE FONDO --------------------------------- */
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem;
  padding-top: 7rem;
  justify-content: flex-end;
  background-image: url("./img/webs\ 1.png");
  background-size: cover;
}

.logo-container {
  padding: 5rem;
  backdrop-filter: blur(6px);
  width: 35%;
}

.logo-container img {
  object-fit: contain;
}

.hero h2 {
  color: var(--primary-color);
  opacity: 0;
  transform: translateY(30px);
  margin-top: auto;
  align-self: start;
  padding: 3rem 0 1rem 1rem;
  font-weight: 600;
  font-size: 2rem;
}

/* Servicios ---------------------------------------------*/
.section-header h2 {
  font-size: 5rem;
  line-height: normal;
  font-family: var(--font-section);
}

.section-header p {
  font-size: 1.5rem;
  font-family: var(--font-display);
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.service-card:nth-child(odd) {
  padding-left: 10vw;
}

.service-card:nth-child(even) {
  padding-right: 10vw;
}

.service-card {
  width: 75vw;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  transform: translateX(110%);
}


.service-image {
  width: 100%;
  height: 25rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  padding: 1rem;
  width: 65%;
}

.service-info h3 {
  font-size: 2.5rem;
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}

/* CTA ---------------------------------------------*/
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 2rem;
  background-color: rgba(19, 19, 19, 0.6);
  color: var(--primary-color);
}

.cta-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 2.8rem;
}

.cta-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.8;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: var(--primary-color);
}

.cta-button:hover {
  background-color: var(--primary-color);
  color: var(--letters-color);
}

/* FOOTER ------------------------------------------*/
.main-footer {
  background-color: var(--letters-color);
  color: var(--primary-color);
  padding: 3rem 2rem 1rem;
  opacity: 0;
  /* Inicialmente oculto para la animación */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto 2rem;
}

.footer-brand img {
  height: 3rem;
  margin-bottom: 1rem;
}

.footer-content h4 {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.footer-content ul {
  list-style: none;
}

.footer-content a {
  color: inherit;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.footer-content a:hover {
  opacity: 1;
}

.footer-contact p {
  line-height: 1.5;
}

.footer-legal {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #333;
}


/*  RESPONSIVE -------------------- */

/* Puntos de ruptura para responsive
        Teléfonos pequeños: 320px;
        Mayoría de teléfonos: 480px;
        Tablet: 768px; 
*/

/* PANTALLA NORMAL */
@media(max-width: 1024px) {
  .logo-container {
    width: 50%;
  }
  
  .service-card:nth-child(odd) {
    padding-left: 8vw;
  }

  .service-card:nth-child(even) {
    padding-right: 8vw;
  }

  .service-card {
    width: 80vw;
  }
}

/* TABLET */
@media (max-width: 768px) {
  main {
    gap: 5rem;
  }

  /* Hero -----------------------------------------------*/
  .hero {
    min-height: auto;
  }

  .logo-container {
    padding: 4.5rem;
    width: 70%;
  }

  .hero h2 {
    font-size: 1.6rem;
  }

  /* Servicios -------------------------------------------*/
  .services-container {
    gap: 4rem;
  }

  .service-card:nth-child(odd) {
    padding-left: 1rem;
  }

  .service-card:nth-child(even) {
    padding-right: 1rem;
  }

  .service-card {
    flex-direction: column;
    gap: 0;
  }

  .service-info {
    order: 1;
    width: 100%;
    padding: 0;
    margin-bottom: 1.2rem;
  }

  .service-image {
    order: 2;
    /* imagen debajo */
  }

  /* Footer --------------------------------------------*/
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-brand,
  .footer-links,
  .footer-contact {
    width: 100%;
  }
}


/* MAYORÍA DE TELÉFONOS */
@media (max-width: 480px) {

  /* Barra de navegación ---------------------------*/
  .navbar {
    position: relative;
  }

  .navbar img {
    height: 2.2rem;
  }

  .nav-links {
    display: none;
    gap: 0.5rem;
    flex-direction: column;
    background: var(--navbar-color);
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    text-align: start;
    padding: 0.5rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  /* Hero ------------------------------------*/
  .hero {
    padding-top: 2rem;
  }

  .logo-container {
    padding: 2.5rem;
    width: 100%;
  }

  .hero h2 {
    font-size: 1.5rem;
    hyphens: auto;
    padding: 3rem 0 0 0;
  }

  /* Servicios ------------------------------------*/
  .section-header h2 {
    font-size: 4rem;
  }

  .services-container {
    gap: 3rem;
  }

  .service-card:nth-child(odd) {
    padding-left: 0;
  }

  .service-card:nth-child(even) {
    padding-right: 0;
  }

  .service-card {
    flex-direction: column;
    gap: 0;
    padding: 0;
    padding-top: 1rem;
  }

  .service-image {
    width: 100%;
    height: auto;
  }
}